/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
b,
strong {
  font-weight: bold;
  color: inherit !important;
}
.l-center {
  margin: 0 !important;
  width: 100%;
  max-width: none;
}
.l-content > .l-center .l-unit:nth-of-type(1) {
  padding-top: 0;
}
.l-sort-toolbar {
  background-color: #e6ebf1;
}
form#vstobjects {
  padding-top: 0;
}
.wrapper {
  background-color: #ecf0f5 !important;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
}
.units .l-unit {
  padding-top: 10px;
}
.l-unit__name {
  color: #184654;
  font-size: 27px;
  margin-bottom: -3px;
}
.check-label,
.sort-by {
  text-transform: capitalize;
  font-weight: normal;
}
.l-unit__name {
  font-size: 20px;
}
.l-unit {
  white-space: nowrap;
  padding-bottom: 10px;
  overflow: visible !important;
}
.l-unit .l-icon-star {
  display: inline-block;
}
.l-unit-toolbar {
  height: 39px;
  float: left;
}
.l-unit-toolbar__col--left {
  padding-top: 11px;
}
.l-unit.selected {
  border-left: 2px solid #feef9a;
  border-bottom: 1px solid #f4e387 !important;
}
.l-unit .l-unit-toolbar__col--right {
  display: none !important;
}
.l-unit__ip {
  margin-bottom: 0;
}
.l-sort-toolbar .sort-by b {
  text-transform: capitalize;
  font-size: inherit;
  font-weight: normal;
}
.l-unit__name {
  cursor: pointer;
}
.l-unit__stat-cols.graph {
  width: 100%;
}
.l-unit__stats {
  background-color: #F5F5F5;
  padding: 10px;
  margin-top: 17px;
  width: 97%;
}
.l-unit__stats table {
  width: 100%;
}
.l-unit__stats table tr td {
  padding: 5px;
}
.l-unit__stats table tr td .l-unit__stat-col--right {
  float: none;
  max-width: none;
}
.l-percent {
  width: 100%;
}
.l-unit__col.l-unit__col--right {
  width: 100%;
}
.title b,
.title {
  color: #0a3152;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  padding: 0 15px;
  line-height: 30px;
  text-transform: none;
}
.modal-backdrop {
  background-color: transparent;
}
.modal {
  background-color: transparent;
}
.ui-dialog {
  border-radius: 0px;
  top: 27% !important;
  left: 50% !important;
  margin-left: -150px;
  background-color: #fff;
  border-color: #EEE;
  color: #222;
}
.ui-dialog .ui-button span {
  color: #fff;
  text-transform: uppercase;
}
.ui-widget-content {
  border: 1px solid #aaaaaa;
  color: #222;
}
.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0.1pt 16px 0.1pt 0;
  font-family: Arial;
  color: #133d5f;
  font-size: 15px;
  letter-spacing: 0px;
  text-transform: capitalize;
  font-weight: normal;
}
.ui-dialog .ui-dialog-buttonpane {
  border-color: #dedede;
  border-style: solid none none;
  text-align: left;
  margin: 0.5em 0 0 0;
  padding: 6px 0 1px 1px;
}
.vst-ok {
  color: #8BC34A;
  font-weight: bold;
  display: inline-block;
  height: 16px;
  overflow: visible;
  padding-top: 5px;
  max-width: 600px;
}
body {
  display: none;
  background-color: #ecf0f5;
}
.box-list .box-body {
  padding: 0;
}
.action-btn-group {
  margin-left: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .action-btn-group {
    margin: 5px 20px 0 0;
    float: right;
  }
}
.units .l-unit {
  border-bottom: 1px solid #f4f4f4;
}
.btn-main-action {
  text-transform: capitalize;
}
.l-sort-toolbar table {
  margin-right: 8px;
}
.l-select select {
  background-color: white;
  text-shadow: none !important;
}
.l-select {
  overflow: hidden;
}
.l-unit__stat-col--left {
  width: auto;
  margin-right: 15px;
}
.data-dotted {
  padding: 0 20px;
}
.step-top {
  padding-top: 15px;
}
.login-box td,
.data td {
  color: #555;
  font-size: 14px;
  padding-bottom: 3px;
  font-weight: bold;
}
.vst-input {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 0px;
  color: #555;
  font-family: inherit;
  font-size: 14px;
  height: 28px;
  margin: 2px 6px 0 0;
  padding: 8px;
  width: 90%;
  max-width: 100%;
  font-weight: normal;
}
.vst-input:focus,
.vst-textinput:focus {
  border: 1px solid #b8e2df;
  background-color: #f6f9fa;
  color: #333;
}
.vst-textinput {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 0;
  color: #555;
  font-size: 14px;
  padding: 8px;
  width: 90%;
  height: 90px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.input-label {
  padding-top: 12px;
}
.ui-button,
.button {
  color: white;
  border: 1px solid #03A9F4;
  background-color: #03A9F4;
  transition: all 0.2s ease-in-out;
}
.ui-button:hover,
.button:hover {
  color: white;
  border: 1px solid #038ccb;
  background-color: #038ccb;
}
.vst-list {
  font-size: 14px;
  width: 220px;
  background-position: -236px -607px;
  height: 35px;
}
.mode-add,
.data-col2,
.data {
  width: 100%;
}
.skin-block {
  width: 33%;
  height: 100px;
  display: inline-block;
  background-color: #EEE;
  background-size: cover;
  cursor: pointer;
  border: 4px solid #EEE;
}
.action-btn-group a,
.action-btn-group li {
  cursor: pointer;
}
.vst-error {
  height: 26px;
}
.helper-container {
  float: left;
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 3px;
  width: 100%;
}
.l-unit__stat-col--left.wide-4 {
  overflow: hidden;
}
.l-unit__stats img {
  max-width: 60vw;
}
