b,
strong {
  font-weight: bold;
  color: inherit !important;
}
.l-center {
  margin: 0 !important;
  width: 100%;
  max-width: none;
}
.l-content > .l-center .l-unit:nth-of-type(1) {
  padding-top: 0;
}
.l-sort-toolbar {
  background-color: #e6ebf1;
}
form#vstobjects {
  padding-top: 0;
}
.wrapper {
  background-color: #ecf0f5 !important;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
}
.units .l-unit {
  padding-top: 10px;
}
.l-unit__name {
  color: #184654;
  font-size: 27px;
  margin-bottom: -3px;
}
.check-label,
.sort-by {
  text-transform: capitalize;
  font-weight: normal;
}
.l-unit__name {
  font-size: 20px;
}
.l-unit .l-icon-star {
  display: inline-block;
}
.l-unit-toolbar {
  height: 39px;
  float: left;
}
.l-unit-toolbar__col--left {
  padding-top: 11px;
}
.l-unit.selected {
  border-left: 2px solid #feef9a;
}
.l-unit .l-unit-toolbar__col--right {
  display: none !important;
}
