/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
b,
strong {
  font-weight: bold;
  color: inherit !important;
}
body {
  display: none;
  background-color: #ecf0f5;
}
