<?php
$back = $_SESSION['back'];
if (empty($back)) {
	$back = "location.href='/list/firewall/banlist/'";
} else {
	$back = "location.href='".$back."'";
}
?>
<form id="vstobjects" name="v_add_ip" method="post">
	<div class="content-wrapper">
		<?php include "content_header.php" ?>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-9">
					<? if (!empty($_SESSION['error_msg'])) : ?>
						<div class="callout callout-danger">
							<h4>Error</h4>
							<p><?=$_SESSION['error_msg'] ?></p>
						</div>
					<? elseif (!empty($_SESSION['ok_msg'])) : ?>
						<div class="callout callout-info">
							<h4>Info</h4>
							<p><?=$_SESSION['ok_msg'] ?></p>
						</div>
					<? endif; ?>
				</div>
			</div>
			<br />

			<div class="row">
				<div class="col-md-7">
					<div class="box  box-<?=$boxClass ?>">
						<div class="box-header">
							<h3 class="box-title"><?php print __('Adding IP Address to Banlist');?></h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<label><?php print __('Banlist') ?></label>
								<select class="form-control" name="v_chain">
									<option value="SSH" <?php if ((!empty($v_chain)) && ( $v_chain == "'SSH'" )) echo 'selected'?>><?php print __('SSH') ?></option>
									<option value="WEB" <?php if ((!empty($v_chain)) && ( $v_chain == "'WEB'" )) echo 'selected'?>><?php print __('WEB') ?></option>
									<option value="FTP" <?php if ((!empty($v_chain)) && ( $v_chain == "'FTP'" )) echo 'selected'?>><?php print __('FTP') ?></option>
									<option value="DNS" <?php if ((!empty($v_chain)) && ( $v_chain == "'DNS'" )) echo 'selected'?>><?php print __('DNS') ?></option>
									<option value="MAIL" <?php if ((!empty($v_chain)) && ( $v_chain == "'MAIL'" )) echo 'selected'?>><?php print __('MAIL') ?></option>
									<option value="DB" <?php if ((!empty($v_chain)) && ( $v_chain == "'DB'" )) echo 'selected'?>><?php print __('DB') ?></option>
									<option value="VESTA" <?php if ((!empty($v_chain)) && ( $v_chain == "'VESTA'" )) echo 'selected'?>><?php print __('VESTA') ?></option>
								</select>
							</div>

							<div class="form-group">

									<label><?php print __('IP address');?> <span class="optional">(<?php print __('CDIR format is supported');?>)</span>
									</label>
										<input type="text" size="20" class="vst-input form-control" name="v_ip" <?php if (!empty($v_ip)) echo "value=".$v_ip; ?>>

							</div>
						</div>
						<div class="box-footer">
							<input type="submit" name="ok" value="<?php print __('Add');?>" class="btn btn-primary">
							<input type="button" class="btn btn-default" value="<?php print __('Back');?>" onclick="<?php echo $back ?>">

						</div>
					</div>
				</div>
			</div>


		</section>
	</div>
</form>
