<?php
$formName = "v_edit_backup_exclusions";
$title = __('Editing Backup Exclusions');
$submitName = "save";
$submitButtonName = __('Save');

?>



<?
require_once "func.php";
$back = getBack("/list/backup/exclusions");
?>


<form id="vstobjects" name="<?= $formName ?>" method="post">
	<div class="content-wrapper">
		<?php include "content_header.php" ?>

		<!-- Main content -->
		<section class="content">


			<div class="row">

				<div class="col-md-7">

					<? if (!empty($_SESSION['error_msg'])) : ?>
						<div class="callout callout-danger">
							<h4>Error</h4>

							<p><?= $_SESSION['error_msg'] ?></p>
						</div>
					<? elseif (!empty($_SESSION['ok_msg'])) : ?>
						<div class="callout callout-info">
							<h4>Info</h4>

							<p><?= $_SESSION['ok_msg'] ?></p>
						</div>
					<? endif; ?>

					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title"><?= $title ?></h3>
						</div>

						<div class="box-body">
							<div class="form-group">
								<label>
									<?php print __('Web Domains'); ?>
								</label>

								<textarea class="vst-textinput form-control" name="v_web"><?php if (isset($v_web)) echo $v_web; ?></textarea>

								<p><?php echo __('WEB_EXCLUSIONS') ?></p>
							</div>

							<div class="form-group">
								<label>
									<?php print __('DNS Domains'); ?>
								</label>
								<textarea class="vst-textinput form-control" name="v_dns" placeholder=""><?php if (isset($v_dns)) echo $v_dns; ?></textarea>

								<p><?php echo __('DNS_EXCLUSIONS') ?></p>
							</div>

							<div class="form-group">
								<label>
									<?php print __('Mail Domains'); ?>
								</label>
								<textarea class="vst-textinput form-control" name="v_mail" placeholder=""><?php if (isset($v_mail)) echo $v_mail; ?></textarea>

								<p><?php echo __('MAIL_EXCLUSIONS') ?></p>
							</div>

							<div class="form-group">
								<label>
									<?php print __('Databases'); ?>
								</label>
								<textarea class="vst-textinput form-control" name="v_db" placeholder=""><?php if (isset($v_db)) echo $v_db; ?></textarea>

								<p><?php echo __('DB_EXCLUSIONS') ?></p>
							</div>

							<div class="form-group">
								<label>
									<?php print __('Cron Jobs'); ?>
								</label>
								<textarea class="vst-textinput form-control" name="v_cron" placeholder=""><?php if (isset($v_cron)) echo $v_cron; ?></textarea>

								<p><?php echo __('CRON_EXCLUSIONS') ?></p>
							</div>

							<div class="form-group">
								<label>
									<?php print __('User Directories'); ?>
								</label>
								<textarea class="vst-textinput form-control" name="v_userdir" placeholder=""><?php if (isset($v_userdir)) echo $v_userdir; ?></textarea>

								<p><?php echo __('USER_EXCLUSIONS') ?></p>
							</div>

						</div>

						<div class="box-footer">
							<input type="submit" name="<?= $submitName ?>" value="<?php print $submitButtonName ?>" class="btn btn-primary">
							<input type="button" class="btn" value="<?php print __('Back'); ?>" onclick="<?php echo $back ?>">

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</form>
