<form action="/bulk/service/" method="post" id="objects">
<div class="content-wrapper">
	<?php include "content_header.php" ?>

	<!-- Main content -->
	<section class="content">

		<div class="row">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i class="fa fa-info"></i></span>
					<div class="info-box-content">
						<span class="info-box-text"><?php print __('OS');?></span>
						<span class="info-box-number">
						<?php echo $sys['sysinfo']['OS'] ?>
							<?php echo $sys['sysinfo']['VERSION'] ?>
							(<?php echo $sys['sysinfo']['ARCH'] ?>)
						</span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->

			</div>



			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i class="fa fa-info"></i></span>
					<div class="info-box-content">
						<span class="info-box-text"><?php print __('Uptime');?></span>
						<span class="info-box-number"><?php echo humanize_time($sys['sysinfo']['UPTIME']) ?> (<?php print __('running') ?>) </span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->

			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i class="fa fa-info"></i></span>
					<div class="info-box-content">
						<span class="info-box-text"><?php print __('LoadAverage');?></span>
						<span class="info-box-number">
							<?php echo $sys['sysinfo']['LOADAVERAGE'] ?>
						</span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->

			</div>

			<div class="col-md-8  col-sm-12 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i class="fa fa-info"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Hostname</span>
						<span class="info-box-number">
								<?php echo $sys['sysinfo']['HOSTNAME'] ?>
						</span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->

			</div>


		</div>

		<div class="row">
			<div class="col-md-9">
				<a class="btn btn-primary" href="javascript: $('#restart-modal').modal('show');"><?php print __('Restart All Services');?></a>
				<a class="btn btn-primary submenu-select-link" href='javascript:checkedAll("objects");'> <?php print __('toggle all');?> </a>


			</div>

			<div class="col-md-3">

				<select class="" name="action">
					<option value=""><?php print __('apply to selected');?></option>
					<option value="stop"><?php print __('stop');?></option>
					<option value="start"><?php print __('start');?></option>
					<option value="restart"><?php print __('restart');?></option>
				</select>
				<input type="submit" name="ok" value="›" class="submenu-button-select">

			</div>
		</div>
		<br />

		<div class="row">
		<? foreach ($data as $key => $value) : ?>
			<?php

			++$i;
			if ($data[$key]['STATE'] == 'running') {
				$status = 'active';
				$action = 'stop';
			} else {
				$status = 'suspended';
				$action = 'start';
			}

			$cpu = $data[$key]['CPU'] / 10;
			$cpu = number_format($cpu, 1);
			if ($cpu == '0.0')  $cpu = 0;

			$boxClass = ($data[$key]['STATE'] == "running") ? "box-info" : "box-danger";

			?>



				<div class="col-md-3">

					<div class="box <?=$boxClass ?>">
						<div class="box-header">
							<h2 class="box-title">[<?php echo __($data[$key]['SYSTEM']) ?>] <?php echo $key ?> <br /><small> (<?php echo __($data[$key]['STATE']); ?>)</small></h2>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-1">
									<input type="checkbox" class="ch-toggle" name="service[]" value="<?php echo $key ?>" >
								</div>
								<div class="col-md-9">

									<?php print __('Uptime');?>: <?php echo humanize_time($data[$key]['RTIME']) ?>
									<br />
									<?php print __('CPU');?>: <?php echo $cpu ?>%
									<br />
									<?php print __('Memory');?>:  <?php echo $data[$key]['MEM'] ?> <?php print __('mb');?>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<a href="/restart/service/?srv=<?php echo $key ?>" class="data-controls btn btn-default">
								<i class="fa  fa-refresh"></i>
								<?php print __('restart'); ?>
							</a>

							<a href="/<?php echo $action ?>/service/?srv=<?php echo $key ?>" class="data-controls btn btn-default">

								<? if ($action == "stop") : ?>
									<i class="fa fa-stop"></i>
								<? else : ?>
									<i class="fa fa-play"></i>
								<? endif; ?>


								<?php print __($action); ?>
							</a>

						</div>
					</div>
				</div>

		<? endforeach; ?>
		</div>

		<!-- Confirm Dialog for Suspend -->
		<div class="modal modal-primary" id="restart-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title"><?php print __('Confirmation');?></h4>
					</div>
					<div class="modal-body">
						<p><?php print __('RESTART_CONFIRMATION',$sys['sysinfo']['HOSTNAME']);?></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><?php echo __('Close') ?></button>
						<a class="btn btn-outline" href="/restart/system/?hostname=<?php echo $sys['sysinfo']['HOSTNAME']?>"  onclick="$(this).html('Please Wait...')"><?php print __("Confirm");?></a>
					</div>
				</div>
			</div>
		</div>

	</section>
</div>

</form>

