
<form action="/bulk/firewall/banlist/" method="post" id="objects">
	<div class="content-wrapper">
		<?php $TAB .=  " - " . __('Listing') . " Fail2ban"; ?>
		<?php include "content_header.php" ?>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-9">
					<a class="btn btn-default" href="/add/firewall/banlist/"><i class="fa  fa-plus"></i> <?php print __('Ban IP Address');?></a>
					<a class="btn btn-default submenu-select-link" href='javascript:checkedAll("objects");'><i class="fa  fa-check-square"></i> toggle all </a>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-3">
					<select class="form-control" name="action">
						<option value=""><?php print __('apply to selected');?></option>
						<option value="delete"><?php print __('delete');?></option>
					</select>
				</div>
				<div class="col-md-1">
					<input type="submit" name="ok" value="Apply" class="btn btn-default">
				</div>
			</div>

			<br />
			<?php
			foreach ($data as $key => $value) {
				++$i;
				list($ip,$chain) = explode(":",$key);
				?>

			<div class="row">
				<div class="col-md-12">
					<div class="box  box-danger>">
						<div class="box-header">
							<h3 class="box-title"><?php echo $key ?></h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-1">
									<input type="checkbox" class="ch-toggle" name="ipchain[]" value="<?php echo $key ?>" />
								</div>
								<div class="col-md-3">
									<?php echo $data[$key]['TIME'] ?>
									<?php echo $data[$key]['DATE']?>


								</div>
								<div class="col-md-3">
									<?php echo $chain ?>
								</div>

								<div class="col-md-3">
									<?php echo $ip ?>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<a class="btn btn-default"  href="javascript: $('#delete-modal-<?= $i ?>').modal('show');"> <img src="/images/delete.png" width="7px" height="8px"> <?php print __('delete'); ?></a>

						</div>
					</div>
				</div>
			</div>

			<!-- Confirm Dialog for Delete -->
			<div class="modal modal-danger" id="delete-modal-<?= $i  ?>">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title"><?php print __('Confirmation');?></h4>
						</div>
						<div class="modal-body">
							<p><?php print __('DELETE_IP_CONFIRMATION',$ip);?></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><?php echo __('Close') ?></button>
							<!--<input type="hidden" name="delete_url" value="/delete/firewall/banlist/?ip=<?php echo $ip ?>&chain=<?php echo $chain ?>"/>
							<input type="submit" onclick="$(this).html('Please Wait...')" class="btn btn-outline" />-->
							<a class="btn btn-outline" href="/delete/firewall/banlist/?ip=<?php echo urlencode($ip) ?>&chain=<?php echo urlencode($chain) ?>" onclick="$(this).html('Please Wait...')"><?php print __("Confirm");?></a>

							</div>
					</div>
				</div>
			</div>


			<?php
			}
			?>

			<div class="data-count">
				<?php
				if ( $i == 0) {
				echo __('There are no currently banned IP');
				}
				if ( $i == 1) {
				echo __('1 IP address');
				}
				if ( $i > 1) {
				echo __('%s IP addresses',$i);
				}
				?>
			</div>
		</section>
	</div>
</form>
