<form action="/bulk/restore/" method="post" id="objects">
	<div class="content-wrapper">
		<?php include "content_header.php" ?>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-9">
					<a class="btn btn-default" href="/schedule/restore/?backup=<?php echo $_GET['backup'] ?>"> <?php print __('Restore All'); ?></a>
					<a class="btn btn-default submenu-select-link" href='javascript:checkedAll("objects");'><i class="fa  fa-check-square"></i> toggle all </a>
				</div>
			</div>
			<br/>

			<div class="row">
				<div class="col-md-3">
					<select class="form-control" name="action">
						<option value=""><?php print __('apply to selected'); ?></option>
						<option value="restore"><?php print __('restore'); ?></option>
					</select>
					<input type="hidden" name="backup" value="<?php echo $_GET['backup'] ?>">
				</div>
				<div class="col-md-1">
					<input type="submit" name="ok" value="Apply" class="btn btn-default">
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2><?php print __('Listing'); ?>  <?php echo $_GET['backup'] ?></h2>
				</div>
			</div>
			<br/>
			<?php
			$backup = $_GET['backup'];
			$web = explode(',', $data[$backup]['WEB']);
			foreach ($web as $key) {
				if (!empty($key)) {

					?>

					<div class="row">
						<div class="col-md-12">
							<div class="box  box-info">
								<div class="box-header">
									<h3 class="box-title"><?php echo $key ?> </h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-1">
											<input type="checkbox" class="ch-toggle" name="web[]" value="<?php echo $key ?>">
										</div>
										<div class="col-md-3">
											<?php echo 'web ' . __('domain') ?>
										</div>

									</div>
								</div>
								<div class="box-footer">
									<a href="/schedule/restore/?backup=<?php echo $backup ?>&type=web&object=<?php echo $key ?>" class="data-controls btn btn-default">
					                            <span>
					                                <img src="/images/restore.png" width="6px" height="8px">
						                            <?php print __('restore'); ?>
					                            </span>
									</a>
								</div>
							</div>
						</div>
					</div>

				<?php }
			} ?>

			<?php
			$dns = explode(',', $data[$backup]['DNS']);
			foreach ($dns as $key) {
				if (!empty($key)) {
					?>
					<div class="row">
						<div class="col-md-12">
							<div class="box  box-info">
								<div class="box-header">
									<h3 class="box-title"><?php echo $key ?> </h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-1">
											<input type="checkbox" class="ch-toggle" name="dns[]" value="<?php echo $key ?>">
										</div>
										<div class="col-md-3">
											<?php echo 'dns ' . __('domain') ?>
										</div>

									</div>
								</div>
								<div class="box-footer">
									<a href="/schedule/restore/?backup=<?php echo $backup ?>&type=dns&object=<?php echo $key ?>" class="data-controls btn btn-default">
                            <span>
                                <img src="/images/restore.png" width="6px" height="8px">
	                            <?php print __('restore'); ?>
                            </span>
									</a>
								</div>
							</div>
						</div>
					</div>
				<?php }
			} ?>

			<?php
			$mail = explode(',', $data[$backup]['MAIL']);
			foreach ($mail as $key) {
				if (!empty($key)) {
					?>
					<div class="row">
						<div class="col-md-12">
							<div class="box  box-info">
								<div class="box-header">
									<h3 class="box-title"><?php echo $key ?> </h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-1">
											<input type="checkbox" class="ch-toggle" name="mail[]" value="<?php echo $key ?>">
										</div>
										<div class="col-md-3">
											<?php echo 'mail ' . __('domain') ?>
										</div>

									</div>
								</div>
								<div class="box-footer">
									<a href="/schedule/restore/?backup=<?php echo $backup ?>&type=mail&object=<?php echo $key ?>" class="data-controls btn btn-default">
					                            <span>
					                                <img src="/images/restore.png" width="6px" height="8px">
						                            <?php print __('restore'); ?>
					                            </span>
									</a>
								</div>
							</div>
						</div>
					</div>
				<?php
				}
			}
			?>

			<?php
			$db = explode(',', $data[$backup]['DB']);
			foreach ($db as $key) {
				if (!empty($key)) {
					?>

					<div class="row">
						<div class="col-md-12">
							<div class="box  box-info">
								<div class="box-header">
									<h3 class="box-title"><?php echo $key ?> </h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-1">
											<input type="checkbox" class="ch-toggle" name="db[]" value="<?php echo $key ?>">
										</div>
										<div class="col-md-3">
											<?php echo __('database') ?>
										</div>

									</div>
								</div>
								<div class="box-footer">
									<a href="/schedule/restore/?backup=<?php echo $backup ?>&type=db&object=<?php echo $key ?>" class="data-controls btn btn-default">
					                            <span>
					                                <img src="/images/restore.png" width="6px" height="8px">
						                            <?php print __('restore'); ?>
					                            </span>
									</a>
								</div>
							</div>
						</div>
					</div>

				<?php
				}
			}
			?>

			<?php
			$backup = $_GET['backup'];
			if (!empty($data[$backup]['CRON'])) {
				if (!empty($key)) {
					?>

					<div class="row">
						<div class="col-md-12">
							<div class="box  box-info">
								<div class="box-header">
									<h3 class="box-title"><?php echo 'cron ' . __('records') ?></h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-1">
											<input type="checkbox" class="ch-toggle" name="cron[]" value="<?php echo 'yes' ?>">
										</div>
										<div class="col-md-3">
											<?php echo __('cron') ?>
										</div>

									</div>
								</div>
								<div class="box-footer">
									<a href="/schedule/restore/?backup=<?php echo $backup ?>&type=cron&object=records" class="data-controls btn btn-default">
					                            <span>
					                                <img src="/images/restore.png" width="6px" height="8px">
						                            <?php print __('restore'); ?>
					                            </span>
									</a>
								</div>
							</div>
						</div>
					</div>
				<?php
				}
			}
			?>
			<?php
			$udir = explode(',', $data[$backup]['UDIR']);
			foreach ($udir as $key) {
				if (!empty($key)) {
					?>
					<div class="row">
						<div class="col-md-12">
							<div class="box  box-info">
								<div class="box-header">
									<h3 class="box-title"><?php echo $key ?> </h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-1">
											<input type="checkbox" class="ch-toggle" name="udir[]" value="<?php echo $key ?>">
										</div>
										<div class="col-md-3">
											<?php echo __('user dir') ?>
										</div>

									</div>
								</div>
								<div class="box-footer">
									<a href="/schedule/restore/?backup=<?php echo $backup ?>&type=udir&object=<?php echo $key ?>" class="data-controls btn btn-default">
					                            <span>
					                                <img src="/images/restore.png" width="6px" height="8px">
						                            <?php print __('restore'); ?>
					                            </span>
									</a>
								</div>
							</div>
						</div>
					</div>

				<?php
				}
			}
			?>

		</section>
	</div>
</form>
