
<form action="/bulk/ip/" method="post" id="objects">
	<div class="content-wrapper">
		<?php include "content_header.php" ?>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-9">
					<a class="btn btn-default" href="/add/ip/"><i class="fa  fa-plus"></i> <?php print __('Add IP');?></a>
					<a class="btn btn-default submenu-select-link" href='javascript:checkedAll("objects");'><i class="fa  fa-check-square"></i> toggle all </a>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-3">
					<select class="form-control" name="action">
						<option value=""><?php print __('apply to selected');?></option>
						<option value="reread IP"><?php print __('reread IP');?></option>
						<option value="delete"><?php print __('delete');?></option>
					</select>
				</div>
				<div class="col-md-1">
					<input type="submit" name="ok" value="Apply" class="btn btn-default">
				</div>
			</div>
			<br />
			<?php
			foreach ($data as $key => $value) {
				++$i;
				?>
				<?

			?>
			<div class="row">
				<div class="col-md-12">
					<div class="box  box-info">
						<div class="box-header">
							<h3 class="box-title"><?php echo $key ?>   <?php if (!empty($data[$key]['NAT'])) echo ' → <b>' . $data[$key]['NAT'] . '</b>'; ?>
							<?php echo  $data[$key]['NAME'] ?>
							</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-1">
									<input type="checkbox" class="ch-toggle" name="ip[]" value="<?php echo $key ?>">
								</div>
								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-name">
												<?php echo $data[$key]['NETMASK'] ?>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php echo $data[$key]['INTERFACE'] ?>
											</td>
										</tr>
									</table>
								</div>
								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-name">
												<?php print __('Domains');?>:
											</td>
											<td>
												<a class="counter-value"><?php echo $data[$key]['U_WEB_DOMAINS'] ?></a>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('Status');?>:
											</td>
											<td>
												<a class="counter-value"> <?php echo __($data[$key]['STATUS']) ?></a>
											</td>
										</tr>
									</table>
								</div>

								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-name">
												<?php print __('Owner');?>:
											</td>
											<td>
												<a class="counter-value"> <?php echo __($data[$key]['OWNER']) ?></a>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('Users');?>:
											</td>
											<td>
												<a class="counter-value"> <?php echo str_replace(',', ', ', $data[$key]['U_SYS_USERS']) ?></a>
											</td>

										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<a class="btn btn-default"  href="javascript: $('#delete-modal-<?= $i ?>').modal('show');"> <img src="/images/delete.png" width="7px" height="8px"> <?php print __('delete'); ?></a>


							<a href="/edit/ip/?ip=<?php echo $key ?>" class="data-controls btn btn-default">
					                            <span>
					                                <img src="/images/edit.png" width="8px" height="8px">
						                            <?php print __('edit');?>
					                            </span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Confirm Dialog for Delete -->
			<div class="modal modal-danger" id="delete-modal-<?= $i  ?>">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title"><?php print __('Confirmation');?></h4>
						</div>
						<div class="modal-body">
							<p><?php print __('DELETE_USER_CONFIRMATION',$key);?></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><?php echo __('Close') ?></button>
							<a class="btn btn-outline" href="/delete/ip/?ip=<?php echo "$key" ?>" onclick="$(this).html('Please Wait...')"><?php print __("Confirm");?></a>
						</div>
					</div>
				</div>
			</div>



			<?php
			}
			?>

			<div class="data-count">
				<?php
				if ( $i == 1) {
				echo __('1 IP address');
				} else {
				echo __('%s IP addresses',$i);
				}
				?>
			</div>
		</section>
	</div>
</form>
