
<form action="/list/stats/" method="get" id="objects">
	<div class="content-wrapper">
		<?php include "content_header.php" ?>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-9">
					<a class="vst-selected btn btn-default" style="margin: 0px 8px 0 0;" href='/list/stats/'><?php print __('Overall Statistics');?></a>


				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-3">
					<select class="form-control" name="user">
						<option value=""><?php print __('show per user');?></option>
						<?php
						foreach ($users as $key => $value) {
							echo "\t\t\t\t<option value=\"".$value."\"";
							if ((!empty($v_user)) && ( $value == $_GET['user'])){
								echo ' selected';
							}
							echo ">".$value."</option>\n";
						}
						?>
					</select>
				</div>
				<div class="col-md-1">
					<input type="submit" name="ok" value="Apply" class="btn btn-default">
				</div>
			</div>
			<br />
			<?php
			foreach ($data as $key => $value) {
				++$i;
				?>

			<div class="row">
				<div class="col-md-12">
					<div class="box  box-info">
						<div class="box-header">
							<h3 class="box-title"><?php echo $key ?></h3>
						</div>
						<div class="box-body">
							<div class="row">

								<div class="col-md-3">
									<table>
										<tr>
											<td class="chart" colspan=2" style="padding: 10px 0 0 0">
												<?php print __('Bandwidth');?>: <?php echo humanize_usage($data[$key]['U_BANDWIDTH']) ?>
												<div class="bar" title="<?php echo get_percentage($data[$key]['U_BANDWIDTH'],$data[$key]['BANDWIDTH']) ?>%">
													<div class="fill" style="width:<?php echo get_percentage($data[$key]['U_BANDWIDTH'],$data[$key]['BANDWIDTH']) ?>%;"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td class="chart" colspan=2>
												<?php print __('Disk');?>: <?php echo humanize_usage($data[$key]['U_DISK']) ?>
												<div class="bar" title="<?php echo get_percentage($data[$key]['U_DISK'],$data[$key]['DISK_QUOTA']) ?>%">
													<div class="fill" style="width:<?php echo get_percentage($data[$key]['U_DISK'],$data[$key]['DISK_QUOTA']) ?>%"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td class="mini-info" colspan=2>
												<table class="chart2">
													<tr>
														<td>
															<?php print __('Web');?>: <?php echo humanize_usage($data[$key]['U_DISK_WEB'])?>
														</td>
														<td style="padding: 0px 0px 0px 4px">
															<?php print __('Databases');?>: <?php echo humanize_usage($data[$key]['U_DISK_DB'])?>
														</td>
													</tr>
													<tr>
														<td>
															<?php print __('Mail');?>: <?php echo humanize_usage($data[$key]['U_DISK_MAIL'])?>
														</td>
														<td style="padding: 0px 0px 0px 4px">
															<?php print __('User Directories');?>: <?php echo humanize_usage($data[$key]['U_DISK_DIRS'])?>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</div>
								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-name">
												<?php print __('Web Domains');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['U_WEB_DOMAINS'] ?>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('SSL Domains');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['U_WEB_SSL'] ?>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('Web Aliases');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['U_WEB_ALIASES'] ?>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('DNS domains');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['U_DNS_DOMAINS'] ?>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('DNS records');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['U_DNS_RECORDS'] ?>
											</td>
										</tr>
									</table>
								</div>

								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-name">
												<?php print __('Mail Domains');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['U_MAIL_DOMAINS'] ?>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('Mail Accounts');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['U_MAIL_ACCOUNTS'] ?>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('Databases');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['U_DATABASES'] ?>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('Cron Jobs');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['U_CRON_JOBS'] ?>
											</td>
										</tr>
										<tr>
											<td class="counter-name">
												<?php print __('IP Addresses');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['IP_OWNED'] ?>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="box-footer">

						</div>
					</div>
				</div>
			</div>


			<?php
			}
			?>

			<div class="data-count">
				<?php
				if ( $i == 1) {
				echo __('1 month');
				} else {
				echo __('%s months',$i);
				}
				?>
			</div>
		</section>
	</div>
</form>


        <div id="vstobjects">
            <table class='data'>



                <tr class="data-row">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr><td><a class="data-date" ><?php echo strftime("%d %b %Y", strtotime($key))?></a></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <div style="height:19px"></div>
                        <table class="data-col2">
                            <tr>
                                <td colspan=3 class="username">
                                    <b><?php echo strftime("%b %Y", strtotime($key))?></b>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top;" width="239px">

                                </td>
                                <td style="vertical-align:top;" width="238px">

                                </td>
                                <td style="vertical-align:top;">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


            </table>


        </div>
