
<form action="/bulk/backup/" method="post" id="objects">
	<div class="content-wrapper">
		<?php include "content_header.php" ?>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-9">
					<a class="btn btn-default" href="/schedule/backup/"><i class="fa  fa-plus"></i>  <?php print __('Create Backup');?> </a>
					<a class="btn btn-default submenu-select-link" href='javascript:checkedAll("objects");'><i class="fa  fa-check-square"></i> toggle all </a>
					<a class="btn btn-default  submenu-select-link" href="/list/backup/exclusions/">[ <?php print __('backup exclusions');?> ]</a>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-3">
					<select class="form-control" name="action">
						<option value=""><?php print __('apply to selected');?></option>
						<option value="delete"><?php print __('delete');?></option>
					</select>
				</div>
				<div class="col-md-1">
					<input type="submit" name="ok" value="Apply" class="btn btn-default">
				</div>
			</div>
			<br />

			<?php
			foreach ($data as $key => $value) {
				++$i;
				$web = __('no');
				$dns = __('no');
				$mail = __('no');
				$db = __('no');
				$cron = __('no');
				$udir = __('no');

				if (!empty($data[$key]['WEB'])) $web = __('yes');
				if (!empty($data[$key]['DNS'])) $dns = __('yes');
				if (!empty($data[$key]['MAIL'])) $mail = __('yes');
				if (!empty($data[$key]['DB'])) $db = __('yes');
				if (!empty($data[$key]['CRON'])) $cron = __('yes');
				if (!empty($data[$key]['UDIR'])) $udir = __('yes');


			?>
			<div class="row">
				<div class="col-md-12">
					<div class="box  box-info">
						<div class="box-header">
							<h3 class="box-title"><?php echo $key ?>  </h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-1">
									<input type="checkbox" class="ch-toggle" name="backup[]" value="<?php echo $key ?>" >
								</div>
								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-name">
												<?php print __('Backup Size');?>: <?php echo humanize_usage($data[$key]['SIZE']) ?>
											</td>
										</tr>
									</table>
								</div>
								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-name">
												<?php print __('Type');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['TYPE'] ?>
											</td>
										</tr>
									</table>
								</div>

								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-name">
												<?php print __('Run Time');?>:
											</td>
											<td class="counter-value">
												<?php echo humanize_time($data[$key]['RUNTIME']) ?>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<a class="btn btn-default"  href="javascript: $('#delete-modal-<?= $i ?>').modal('show');"> <img src="/images/delete.png" width="7px" height="8px"> <?php print __('delete'); ?></a>

							<a href="/list/backup/?backup=<?php echo $key ?>" class="data-controls btn btn-default">
                            <span>
                                <img src="/images/more.png" width="8px" height="8px">
	                            <?php print __('configure restore settings') ?>
                            </span>
							</a>
							<a href="/download/backup/?backup=<?php echo $key ?>" target="_blank" class="data-controls btn btn-default">
                            <span>
                                <img src="/images/download.png" width="8px" height="8px">
	                            <?php print __('download');?>
                            </span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Confirm Dialog for Delete -->
			<div class="modal modal-danger" id="delete-modal-<?= $i  ?>">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title"><?php print __('Confirmation');?></h4>
						</div>
						<div class="modal-body">
							<p><?php print __('DELETE_BACKUP_CONFIRMATION',$key);?></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><?php echo __('Close') ?></button>
							<a class="btn btn-outline" href="/delete/backup/?backup=<?php echo "$key" ?>" onclick="$(this).html('Please Wait...')"><?php print __("Confirm");?></a>
						</div>
					</div>
				</div>
			</div>


			<?php
			}
			?>

			<div class="data-count">
				<?php
				if ( $i == 1) {
				echo __('1 archive');
				} else {
				echo __('%s archives',$i);
				}
				?>
			</div>
		</section>
	</div>
</form>
