
<form action="/bulk/TODO/" method="post" id="objects">
	<div class="content-wrapper">
		<?php include "content_header.php" ?>

		<!-- Main content -->
		<section class="content">

			<?php
			foreach ($data as $key => $value) {
				++$i;
				if ($data[$key]['SUSPENDED'] == 'yes') {
					$status = 'suspended';
					$spnd_action = 'unsuspend' ;
				} else {
					$status = 'active';
					$spnd_action = 'suspend';
				}
				if ($data[$key]['TYPE'] == 'db') {
					$object = 'database';
				} else {
					$object = strtolower($data[$key]['TYPE']." ".$data[$key]['KEY']);
				}
				?>
			<?
			$boxClass = ($status == "active") ? "info" : "danger";
			?>
			<div class="row">
				<div class="col-md-12">
					<div class="box  box-<?=$boxClass ?>">
						<div class="box-header">
							<h3 class="box-title"><?php echo $data[$key]['RESULT'] ?> <small>(<?php echo str_replace(',', ', ', $data[$key]['ALIAS']) ?>)</small> </h3>
						</div>
						<div class="box-body">
							<div class="row">

								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-value">
												<?php echo $object ?>
											</td>
										</tr>
									</table>
								</div>
								<div class="col-md-3">
									<table>
										<tr>
											<td class="counter-name">
												<?php print __('Owner');?>:
											</td>
											<td class="counter-value">
												<?php echo $data[$key]['USER'] ?>
											</td>
										</tr>
									</table>
								</div>

								<div class="col-md-3">
									<table >
										<tr>
											<td class="counter-name">
												<?php print __('Status');?>:
											</td>
											<td class="counter-value">
												<?php echo __($status); ?>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<a class="btn btn-default"  href="javascript: $('#delete-modal-<?= $i ?>').modal('show');"> <img src="/images/delete.png" width="7px" height="8px"> <?php print __('delete'); ?></a>
							<a class="btn btn-default" href="javascript: $('#suspend-modal-<?=$i ?>').modal('show');" > <img src="/images/suspend.png" width="7px" height="8px"> <?php echo __($spnd_action); ?></a>

							<?php
							if ($data[$key]['KEY'] == 'RECORD') {
								$edit_lnk = '/edit/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'].'&record_id='.$data[$key]['LINK'].'&user='.$data[$key]['USER'];
							}
							if ($data[$key]['KEY'] == 'ACCOUNT') {
								$edit_lnk = '/edit/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'].'&account='.$data[$key]['LINK'].'&user='.$data[$key]['USER'];
							}
							if ($data[$key]['KEY'] == 'JOB') {
								$edit_lnk = '/edit/'.$data[$key]['TYPE'].'/?job='.$data[$key]['LINK'].'&user='.$data[$key]['USER'];
							}
							if ($data[$key]['KEY'] == 'DATABASE') {
								$edit_lnk = '/edit/'.$data[$key]['TYPE'].'/?database='.$data[$key]['RESULT'].'&user='.$data[$key]['USER'];
							}
							if (($data[$key]['KEY'] != 'RECORD') && ($data[$key]['KEY'] != 'ACCOUNT') && ($data[$key]['KEY'] != 'JOB') && ($data[$key]['KEY'] != 'DATABASE') ) {
								$edit_lnk = '/edit/'.$data[$key]['TYPE'].'/?'.strtolower($data[$key]['KEY']).'='.$data[$key]['RESULT'].'&user='.$data[$key]['USER'];
							}
							?>

							<a href="<?php echo $edit_lnk; ?>" class="btn btn-default">
                            <span class="data-controls">
                                <img src="/images/edit.png" width="8px" height="8px">
	                            <?php print __('edit'); ?>
                            </span>
							</a>

							<?php
							if ($data[$key]['USER'] != $user) {
								?>
								<a href="/login/?loginas=<?php echo $data[$key]['USER'] ?>" class="btn btn-default">
                            <span class="data-controls">
                                <img src="/images/login-as.png" width="8px" height="8px">
	                            <?php print __('login as'). ' ' . $data[$key]['USER'];?>
                            </span>
								</a>
							<?php
							}
							?>
						</div>
					</div>
				</div>
			</div>

				<?php
				if ($data[$key]['KEY'] == 'RECORD') {
					$delete_lnk = '/delete/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'].'&record_id='.$data[$key]['LINK'].'&user='.$data[$key]['USER'];
					$cnfrm = 'DELETE_RECORD_CONFIRMATION';
				}
				if ($data[$key]['KEY'] == 'ACCOUNT') {
					$delete_lnk = '/delete/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'].'&account='.$data[$key]['LINK'].'&user='.$data[$key]['USER'];
					$cnfrm = 'DELETE_USER_CONFIRMATION';
				}
				if ($data[$key]['KEY'] == 'JOB') {
					$delete_lnk = '/delete/'.$data[$key]['TYPE'].'/?job='.$data[$key]['LINK'].'&user='.$data[$key]['USER'];
					$cnfrm = 'DELETE_CRON_CONFIRMATION';
				}
				if ($data[$key]['KEY'] == 'DATABASE') {
					$delete_lnk = '/delete/'.$data[$key]['TYPE'].'/?database='.$data[$key]['RESULT'].'&user='.$data[$key]['USER'];
					$cnfrm = 'DELETE_DATABASE_CONFIRMATION';
				}
				if (($data[$key]['KEY'] != 'RECORD') && ($data[$key]['KEY'] != 'ACCOUNT') && ($data[$key]['KEY'] != 'JOB') && ($data[$key]['KEY'] != 'DATABASE') ) {
					$delete_lnk = '/delete/'.$data[$key]['TYPE'].'/?'.strtolower($data[$key]['KEY']).'='.$data[$key]['RESULT'].'&user='.$data[$key]['USER'];
					$cnfrm = 'DELETE_DOMAIN_CONFIRMATION';
				}
				?>

			<!-- Confirm Dialog for Delete -->
			<div class="modal modal-danger" id="delete-modal-<?= $i  ?>">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title"><?php print __('Confirmation');?></h4>
						</div>
						<div class="modal-body">
							<p><?php print __($cnfrm,$data[$key]['RESULT']);?></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><?php echo __('Close') ?></button>
							<a class="btn btn-outline" href="<?php echo $delete_lnk; ?>" onclick="$(this).html('Please Wait...')"><?php print __("Confirm");?></a>
						</div>
					</div>
				</div>
			</div>

				<?php

				if ($data[$key]['KEY'] == 'RECORD') {
					$spnd_lnk = '/'.$spnd_action.'/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'].'&record_id='.$data[$key]['LINK'].'&user='.$data[$key]['USER'];
					$cnfrm = 'SUSPEND_RECORD_CONFIRMATION';
				}
				if ($data[$key]['KEY'] == 'ACCOUNT') {
					$spnd_lnk = '/'.$spnd_action.'/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'].'&account='.$data[$key]['LINK'].'&user='.$data[$key]['USER'];
					$cnfrm = 'SUSPEND_USER_CONFIRMATION';
				}
				if ($data[$key]['KEY'] == 'JOB') {
					$spnd_lnk = '/'.$spnd_action.'/'.$data[$key]['TYPE'].'/?job='.$data[$key]['LINK'].'&user='.$data[$key]['USER'];
					$cnfrm = 'SUSPEND_CRON_CONFIRMATION';
				}
				if ($data[$key]['KEY'] == 'DATABASE') {
					$spnd_lnk = '/'.$spnd_action.'/'.$data[$key]['TYPE'].'/?database='.$data[$key]['RESULT'].'&user='.$data[$key]['USER'];
					$cnfrm = 'SUSPEND_DATABASE_CONFIRMATION';
				}
				if (($data[$key]['KEY'] != 'RECORD') && ($data[$key]['KEY'] != 'ACCOUNT') && ($data[$key]['KEY'] != 'JOB') && ($data[$key]['KEY'] != 'DATABASE') ) {
					$spnd_lnk = '/'.$spnd_action.'/'.$data[$key]['TYPE'].'/?'.strtolower($data[$key]['KEY']).'='.$data[$key]['RESULT'].'&user='.$data[$key]['USER'];
					$cnfrm = 'SUSPEND_DOMAIN_CONFIRMATION';
				}
				?>

				<!-- Confirm Dialog for Suspend -->
			<div class="modal modal-danger" id="suspend-modal-<?= $i  ?>">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title"><?php print __('Confirmation');?></h4>
						</div>
						<div class="modal-body">
							<p><?php print __($cnfrm,$data[$key]['RESULT']);?></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><?php echo __('Close') ?></button>
							<a class="btn btn-outline" href="<?php echo $spnd_lnk ?>"  onclick="$(this).html('Please Wait...')"><?php print __("Confirm");?></a>
						</div>
					</div>
				</div>
			</div>

			<?php
			}
			?>

			<div class="data-count">
				<?php
				if ( $i == 1){
					echo __('1 object');
				} else {
					echo __('%s objects',$i);
				}
				?>
			</div>
		</section>
	</div>
</form>
